<h3>User List</h3>

{{#if list.length}}
{{#each list}}
<ul class="collection">
    <li class="collection-item avatar">
        <img src="{{link}}" alt="" class="circle">
        <span class="title">{{name}}</span>
        <p>{{last_name}} <br>
            {{email}}
        </p>
        <a href="/user/{{id}}" class="secondary-content"><i class="material-icons">detail</i></a>
    </li>
</ul>
{{/each}}
{{else}}
<marquee behavior="" direction="">Don't any users!!</marquee>
{{/if}}